.createArticlePage {}

.createArticlePage h1 {
    text-align: right;
    margin: 40px 0;
    font-size: 40px;
    font-weight: 300px;
}

.buttWrapper {
    text-align: right;
}

.buttWrapper button {
    padding: 5px 10px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.buttWrapper button:active {
    opacity: 0.8;
}